.app-toolbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: var(--mat-sys-elevation-level1);
}

.spacer {
  flex: 1 1 auto;
}

.content-container {
  min-height: calc(100vh - 64px);
}

.user-profile {
  margin: 0 8px;

  .profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
}
