name: Deploy to Firebase Hosting on staging
on:
  push:
    branches:
      - staging
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create environment file
        run: |
          mkdir -p src/environments
          echo "${{ secrets.ENVIRONMENT_STAGING }}" > src/environments/environment.staging.ts
          echo "${{ secrets.ENVIRONMENT_STAGING }}" > src/environments/environment.ts
      - run: npm ci && npx ng build --configuration staging
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_STAGING }}
          channelId: live
          projectId: goodwin-squares-staging
